body h1 {
  color: #9fc095;
  font-size: 2rem;
  font-family: 'Nanum Gothic Coding', monoespaciado; }

main h1 {
  color: #9fc095;
  font-family: 'Nanum Gothic Coding', monoespaciado;
  padding: 10px; }

main h3 {
  color: white;
  padding: 10px; }

main .nombre {
  color: white;
  padding: 5px; }

main .apellido {
  color: white;
  padding: 5px; }

main .email {
  color: white;
  padding: 5px; }

main .telefono {
  color: white;
  padding: 5px; }

main .descripcion-producto {
  color: white;
  padding: 5px; }

main .titulo-redes {
  padding: 10px; }

.titulo-prox2 {
  color: #9fc095;
  font-size: 2rem;
  font-family: 'Nanum Gothic Coding', monoespaciado;
  text-align: center; }

.cardMia {
  background-color: white; }
  .cardMia .card-text {
    padding: 5px; }
  .cardMia .h5 {
    padding: 900px; }

.logo {
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 50px; }
  .logo img {
    width: 100px;
    border-radius: 10px; }

header
h1 {
  font-family: 'Rock Salt', cursiva;
  text-align: center;
  padding: 10px;
  color: #f6fe03; }

.menu .nav-item a {
  color: #0e0e0e;
  background-color: #5ba4cb;
  font-size: 30px;
  padding: 15px;
  border-radius: 10px;
  margin: 5px; }
  .menu .nav-item a:hover {
    color: #fafafa;
    background-color: #e7c07df6;
    border-radius: 20px; }

.fondo {
  background-repeat: none;
  background-size: cover; }

main .titulo2 {
  font-family: 'Nanum Gothic Coding', monoespaciado;
  color: #ad05fb;
  padding: 10px; }

main .titulo3 {
  font-family: 'Nanum Gothic Coding', monoespaciado;
  padding: 10px;
  color: #ad05fb; }

main .titulo-producto {
  text-align: center;
  color: #c8f027;
  padding: 30px;
  font-family: 'Rock Salt', cursiva; }

.footer {
  color: #f8f8f9;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

body {
  background-image: url("../img/fondo spider man.jpg");
  background-repeat: none;
  background-size: cover; }
  body header h1 {
    font-family: 'Rock Salt', cursiva;
    text-align: center;
    padding: 10px;
    color: #f6fe03; }
  body header .menu .nav-item a {
    color: #0e0e0e;
    background-color: #5ba4cb;
    font-size: 30px;
    padding: 15px;
    border-radius: 10px;
    margin: 5px; }
    body header .menu .nav-item a:hover {
      color: #fafafa;
      background-color: #e7c07df6;
      border-radius: 20px; }
  body main .titulo2 {
    font-family: 'Nanum Gothic Coding', monoespaciado;
    color: #9fc095;
    padding: 10px; }
  body main .titulo3 {
    font-family: 'Nanum Gothic Coding', monoespaciado;
    padding: 10px;
    color: #9fc095; }
  body main .titulo-producto {
    text-align: center;
    color: #c8f027;
    padding: 30px;
    font-family: 'Rock Salt', cursiva; }
  body .footer {
    color: #f8f8f9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.titulo-info1 h1 {
  color: #5ba4cb; }

.productos-destacados img:hover {
  transform: scale(1.1); }

.productos-en-oferta img:hover {
  transform: scale(1.1); }
