*{
    margin: 0;
    padding: 0;
}
.logo{
    margin: 10px;
    padding-top: 10px; 
    padding-bottom: 50px;
}
.logo img{
    width: 100px;
    border-radius: 10px;
}
.productos-destacados img{
    padding: 20px;
    margin: 0 auto;
    border-radius: 30px;
    width: 300px;
    height: 300px;
    border-bottom: 20px;
}
.titulo1{
   font-family: 'Rock Salt', cursiva;
    text-align: center;
    padding: 10px;
    color: #f6fe03;
}
.productos-en-oferta img{
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    width: 300px;
    height: 300px;
    border-bottom: 20px;
    
}
.menu .nav-item a{
    color: white;
    background-color: black;
    font-size: 30px;
    padding: 15px;
    border-radius: 10px;
    margin: 5px;
}
.menu li a:hover{
    color: #f8f8f9;
    background-color: #fb4545;
    border-radius: 30%;
}
.fondo{
    background-image: url(../img/fondo\ 2.jpg);
    background-repeat: none;
    background-size: cover;
}
.titulo2{
    font-family: 'Nanum Gothic Coding', monoespaciado; 
    color: #ad05fb;
    padding: 10px;

}
.titulo3{
    font-family:'Nanum Gothic Coding', monoespaciado; 
    padding: 10px;
    color: #ad05fb; 
}
.titulo-producto{
    text-align: center;
    color: #c8f027;
    padding: 30px;
    font-family:'Rock Salt', cursiva;
}
.productos img{
    padding: 10px;
    margin: 0 auto;
    border-radius: 30px;

}
.caja1{
    display: flex;
}

.caja2 img{
    margin-right: 10px;
    padding: 10px;
    border-radius: 30px; 
}
   
.formulario{
    padding: 10px;
}
.titulo-formulario{
    text-align: center;
    padding: 20px;
}
.nombre{
    padding: 5px;
    margin: 10px;
}
.subtitulo-form{
    padding: 10px;
    font-family:'Nanum Gothic Coding', monoespaciado;
    color: #367dad
}
.apellido{
    padding: 5px;
    margin: 10px;
}
.email{
    padding: 5px;
    margin: 10px;
}
.telefono{
    padding: 5px;
    margin: 10px;
}
.descripcion-producto{
    padding: 5px;
    margin: 10px;
}
.fin-formulario{
    padding: 5px;
    margin: 10px;
}
.titulo-redes{
    padding: 20px;
    text-align: center;
    font-family:'Nanum Gothic Coding', monoespaciado;
    color: #367dad
}
.titulo-contacto{
    text-align:center ;
    padding: 20px;
    font-family:'Nanum Gothic Coding', monoespaciado;
    color: #367dad;
}
.fondo-contacto{
    background-image: url(../img/fondo\ contacto.jpg);
    background-repeat: none;
    background-size: cover;
}
.icono-ig{
    padding: 10px;
    margin: 10px;
    font-family:'Nanum Gothic Coding', monoespaciado;
}
.icono-fb{
    text-align: center; 
}
.titulo-info{
    padding: 10px;
    margin: 10px;
    font-family:'Nanum Gothic Coding', monoespaciado;
    color: brown;
}
.titulo-info1{
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-family:'Nanum Gothic Coding', monoespaciado;
    color: chocolate;
}
.parrafo{
    padding: 10px;
}
.subtitulos{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}
.body-info{
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    background-color: #cbf1e4; 
}
.proximamente img{
    padding: 20px;
    border-radius: 30px;
    display: flex;
}
.titulo-prox{
    text-align: center;
    padding: 20px;
    font-family:'Rock Salt', cursiva;
}
.titulo-prox2{
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.fondo-prox{
    background-image: url(../img/fondo\ proximamente.jpg);
    background-repeat: none;
    background-size: cover;
}
.fondo-producto{
    background-image: url(../img/fondo\ producto.jpg);
    background-repeat: none;
    background-size: cover;
}
.proximamente{
    display: flex;
}
.parrafo-cell{
    padding: 5px;
    text-align: center;
}

footer{
    color: #f8f8f9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fondo-preguntas{
    background-image: url(../img/fondo\ preguntas.jpg);
    background-repeat: none;
    background-size: cover;
}
.cardMia{
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    justify-content: center;
}
@media only screen and (max-width: 420px){
    .fondo{
        background-color: palegreen;
        font-family: Arial, Helvetica, sans-serif;
        background-image: url(../img/fondo\ mobile.jpg);
        padding: 30px;
    }
    }
    .titulo2{
        margin-left: 30px;
        font-family: 'Times New Roman', Times, serif;
    }
















    



    
    
    
    


