main{
    h1{
        color: #9fc095;
        font-family: 'Nanum Gothic Coding', monoespaciado;
        padding: 10px;
    }
    h3{
        color: white;
        padding: 10px;
    }
    .nombre{
        color: white;
        padding: 5px;
    }
    .apellido{
        color: white;
        padding: 5px;
    }
    .email{
        color: white;
        padding: 5px;
    }
    .telefono{
        color: white;
        padding: 5px;
    }
    .descripcion-producto{
        color: white;
        padding: 5px;
    }
    .titulo-redes{
        padding: 10px;
    }
}
